body {
    font-family: Arial, sans-serif;
    line-height: center;
    background-color: #ffffff;
    margin: center;
    padding: 0;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 5px;
   

}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #99ccff;
}

.section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#theme-toggle:hover {
    background-color: #2523a8;
}
